{
	"root": true,
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"jest/globals": true
	},
	"extends": [
		"plugin:prettier/recommended",
		"plugin:react/recommended",
		"eslint:recommended",
		"plugin:jsx-a11y/recommended",
    "react-app/jest"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaVersion": 11,
		"ecmaFeatures": {
			"arrowFunctions": true,
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"prettier",
		"@babel",
		"jsx-a11y",
		"jest"
	],
	"rules": {
		"indent": [
			"error",
			"space",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"semi": [
			"error",
			"always"
		],
		"react/no-find-dom-node": "off"
	}
}