.example {
	font-family: Arial, sans-serif;
	text-align: center;

	&__title {
		margin-bottom: 80px;
	}

	&__map {
		display: inline-block;
		width: 500px;
	}

	&__info {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		text-align: left;

		&__block {
			margin-bottom: 20px;
		}
	}
}
