@import url('./variables.css');

.svg-map {
  height: auto;
  stroke: var(--svg-map-delimiter);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
  width: 100%;

  &__location {
    cursor: pointer;
    fill: var(--svg-map-location-background);

    &:focus,
    &:hover {
      fill: var(--svg-map-location-hover);
      outline: 0;
    }

    &:focus {
      fill: var(--svg-map-location-focus);
      outline: 0;
    }

    &[aria-checked='true'] {
      fill: var(--svg-map-location-selected);
    }
  }
}
